
div.top {
    background-color: #525659;

}

div.bottom {
    background-color: black;

}

div.wrapper{
    width: 100%;

}

div.right {
    float: right;
}

div.left {
    float: left;
}

div.manager,
div.remove,
div.saba7 {
    margin-left: 25px;
    margin-bottom: 20px;
}

div.top-circle {
    margin-top: 60px;
}


div.wrong1,
div.wrong2,
div.wrong3 {
    font-size: 52px;
    color: red;
    position: absolute;
    top: -10px;
    margin-left: 6px;
    display: none;
}

div.wrapper-right {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.finished {
    background-color: rgba(250, 176, 5, 0.9);
}

div.first-wrapper-right {
    margin-top: 60px;
}



div.question {
    position: relative;
  height: 306px;
    width: 100%;
    background: url("../img/question/Question.png") no-repeat;
    float: left;
}

/*question indicators*/
img.questionselected,
img.questionright,
img.questionwrong{
    display: none;
}
/*wrong answers = red */
img.questiontoprightwrong{
        position: absolute;
    margin-top: 152px;
    margin-left: -77px;
}
img.questiontopleftwrong{
        position: absolute;
    margin-top: 152px;
    margin-left: -569px
}
img.questionbottomleftwrong{
    position: absolute;
    margin-top: 229px;
    margin-left: -569px;
}
img.questionbottomrightwrong{
        position: absolute;
    margin-top: 229px;
    margin-left: -74px;
}

/*right answers = green*/
img.questiontopleftright{
        position: absolute;
    margin-top: 152px;
    margin-left: -182px;
}
img.questiontoprightright{
    position: absolute;
    margin-top: 152px;
    margin-left: 313px;
}
img.questionbottomrightright{
position: absolute;
    margin-top: 230px;
    margin-left: 313px;
}
img.questionbottomleftright{
position: absolute;
    margin-top: 230px;
    margin-left: -182px;
}

/*question selected= orange*/

img.questiontopleftselected{
        position: absolute;
    top: 152px;
    left: 201px;
}
img.questiontoprightselected{
        position: absolute;
    top: 152px;
    left: 697px;
}
img.questionbottomrightselected{
    position: absolute;
    top: 229px;
    left: 697px;

}

img.questionbottomleftselected{
    position: absolute;
    top: 229px;
    left: 201px;
}